html, body {
	margin: 0; 
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background-color: #DD4339;
  box-shadow: 0px 3px 10px grey;
  height: 100px;
}

.nav h1{ 
  color: white;
  float: left;
  position: relative;
  left: 2%;
}


.controls {
  position: relative;
  margin-top: 15px;
  right: -20%;
  
}


.country{
  color: white;
	display: inline-block;
	width: 30%;
	height: 34px;
	padding: 6px 12px;
	line-height: 1.5;
	border-radius: 4px;
	background-color: #DF6155;
	border: none;
	font-weight: bold;
  font-size: 20px;
}

.result {
  position: relative;
  top: 20px;
  padding: 15px;
  margin: 50px auto;
  background: #F0F0F0;
  border: 1px solid #CCC;
  height: 100%;
}

label{
  color: white;
  font-weight: bold;
  font-size: x-large;
}


.lookup {
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.lookup:focus {
  outline: none;
}
.country:focus {
    outline: none;
    border: 0.5px solid #ccffff;
}
.lookup:hover {
  cursor: pointer;
  background: #850e08;
  text-decoration: none;
}

ul {
    background: #ff9999;
    padding: 20px;
}

ul li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

.squaredFour {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}
p.checker{
  position: fixed;
  color: white;
  right: 180px;
  top: 53px;
  font-weight: bold;
  font-size: 15px;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -15px;
	right: -225px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
input[type=checkbox]{
  display: none;
}

